@charset "utf-8";
/* CSS Document */

/*Aqui comienza el reset CSS*/
html,h1,h2,h3,h4,h5,h6,p,ol,ul,li,pre,code,address,form,fielsed{
	padding: 0;
	margin: 0;
	font-size: 100%;
	font-weight: normal;
}

ol{
	margin-left: 1.4em;
	list-style: decimal;
}

ul{
	margin-left: 1.4em;
	list-style: aquare;
}

img{
	border: 0;
}
/*Aqui termina el reset CSS*/

#principal{
	float: left;
	width: 580px;
}

#lateral{
	margin-left: 600px;
	padding: 15px;
	background: #e1cdff;
}

body{
	color: #b1967c;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	padding-top: 100px;
	width: 800px;
	background: #e1cdff url("images/fondo_cuerpo.png") repeat-x;
	margin: 0 auto;
}

h1{
	font-size: 3em;
	font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', 'Arial Black', 'sans-serif';
	margin-top: 10px;
}

h2{
	font-size: 2.2em;
	color: #600;
	margin-bottom: 5px;
}

p{
	text-align: justify;
}

#principal h2{
	color: #e8a064;
	border-bottom: 2px white solid;
	background: url("images/flor.png") no-repeat;
	padding: 0 0 2px 80px;
}

#principal p{
	color: #616161;
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 1.1em;
	line-height: 150%;
	margin-bottom: 15px;
	margin-left: 80px;
}

#principal .introduccion{
	color: #000;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1.2em;
	margin-left: 0px;
	margin-bottom: 25px;
}

	